<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", report_comment_path(@report.id, @comment.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_report_comment_path(@report.id) %>
